<div class="h-36 w-full rounded-lg bg-white p-4" th:fragment="components-social-card(social)">
  <div th:if="${social.type == 'qq'}" class="relative h-full">
    <div class="flex items-start gap-2">
      <div class="flex h-10 w-10 items-center justify-center rounded-lg bg-gray-100 p-2">
        <th:block th:replace="modules/icon/qq"></th:block>
      </div>
      <div class="text-lg font-bold text-gray-800" th:text="${social.name}"></div>
    </div>
    <div
      class="absolute inset-x-0 bottom-0 flex w-full items-center justify-center rounded-lg bg-blue-50 py-2 text-blue-900 transition duration-700 hover:bg-blue-500 hover:text-white"
    >
      <div class="text-sm font-bold">添加好友</div>
    </div>
  </div>
  <div th:if="${social.type == 'github'}" class="relative h-full">
    <div class="flex items-start gap-2">
      <div class="flex h-10 w-10 items-center justify-center rounded-lg bg-gray-100 p-2">
        <th:block th:replace="modules/icon/github"></th:block>
      </div>
      <div class="text-lg font-bold text-gray-800" th:text="${social.name}"></div>
    </div>
    <div
      class="absolute inset-x-0 bottom-0 flex w-full items-center justify-center rounded-lg bg-gray-50 py-2 text-gray-900 transition duration-700 hover:bg-gray-500 hover:text-white"
    >
      <div class="text-sm font-bold">查看主页</div>
    </div>
  </div>
</div>
