<!--
 * @Author: error: error: git config user.name & please set dead value or install git && error: git config user.email & please set dead value or install git & please set dead value or install git
 * @Date: 2023-07-04 01:28:12
 * @LastEditors: Alkaid(AlkaidMegrez@outlook.com)
 * @LastEditTime: 2023-07-16 00:58:31
 * @FilePath: /theme-crux/templates/modules/layout.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en" th:fragment="html (content)">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${site.title}"></title>
    <link
      rel="stylesheet"
      th:href="@{/assets/dist/style.css?v={version}(version=${theme.spec.version})}"
      href="./assets/dist/style.css?v={version}(version=${theme.spec.version})}"
    />
    <link
      rel="stylesheet"
      th:href="@{/assets/fonts/fonts.css?v={version}(version=${theme.spec.version})}"
      href="./assets/fonts/fonts.css?v={version}(version=${theme.spec.version})}"
    />
    <script th:src="@{/assets/dist/main.iife.js?v={version}(version=${theme.spec.version})}" defer></script>
  </head>

  <body id="app" data-rendered="false">
    <div class="bg-gray-50 pb-16 transition duration-700 dark:bg-slate-800">
      <th:block th:replace="~{modules/components/nav::components-nav}"></th:block>
      <div class="mx-auto min-h-screen max-w-screen-lg p-4 pt-32">
        <th:block th:replace="${content}" />
        <div th:if="${theme.config.footer.footer_type == 'card'}">
          <th:block th:replace="~{modules/components/footer}"></th:block>
        </div>
      </div>
      <div th:if="${theme.config.footer.footer_type == 'basic'}">
        <th:block th:replace="~{modules/components/footer-basic}"> </th:block>
      </div>
    </div>
    <div id="scrollToTop" class="fixed bottom-4 right-4 z-10 h-12 w-12 rounded-lg bg-blue-700 p-3">
      <div class="i-heroicons-arrow-small-up !h-full !w-full text-white"></div>
    </div>
  </body>
  <script>
    if (localStorage.getItem("color-scheme") === "dark") {
      document.getElementById("app")?.classList.add("dark");
    } else {
      document.getElementById("app")?.classList.remove("dark");
    }
    document.addEventListener("DOMContentLoaded", () => {
      // 这里文档已加载完成
      document.body.dataset.rendered = "true";
    });
    const scrollToTopBtn = document.querySelector("#scrollToTop");
    let timeout;
    function scrollToTop() {
      clearTimeout(timeout);

      timeout = setTimeout(() => {
        // 滚动到顶部
      }, 200);
      if ("scrollBehavior" in document.documentElement.style) {
        // 平滑滚动
        window.scrollTo({ top: 0, behavior: "smooth" });
      } else {
        // 直接滚动
        window.scrollTo(0, 0);
      }
    }
    scrollToTopBtn.addEventListener("click", scrollToTop);
  </script>
</html>
