<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="modules/layout :: html(content = ~{::content})">
  <th:block th:fragment="content">
    <div class="grid grid-cols-10 gap-4">
      <div
        x-data="toc"
        x-init="generateToc('content','toc-container-mobile','toc-mobile')"
        class="toc-container-mobile col-span-10 space-y-2 rounded-lg bg-white p-4 md:hidden"
      >
        <div class="text-md font-bold text-gray-700">文章目录</div>
        <div class="border-t"></div>
        <div class="toc-mobile flex items-start justify-start space-x-4"></div>
      </div>
      <div class="col-span-10 md:col-span-7">
        <div class="rounded-lg md:hidden">
          <img class="w-full rounded-lg" th:if="${not #strings.isEmpty(post.spec.cover)}" th:src="${post.spec.cover}" />
        </div>
        <div class="rounded-lg bg-white">
          <div
            th:if="${post.spec.cover.isEmpty}"
            class="flex h-96 w-full rounded-t-lg bg-cover bg-center"
            th:style="'background-image:url(' + ${post.spec.cover.isEmpty} + ')'"
          >
            <div
              class="relative h-full w-full rounded-t-lg backdrop-blur-lg backdrop-brightness-110 backdrop-saturate-50"
            >
              <div class="absolute bottom-0 space-y-2 p-4 text-white md:p-8">
                <div
                  class="text-4xl font-bold transition duration-700 hover:text-blue-700"
                  th:text="${post.spec.title}"
                ></div>
                <div class="flex space-x-6">
                  <div class="flex space-x-2">
                    <div
                      th:if="${post.owner.avatar}"
                      class="h-4 w-4 rounded-lg bg-cover bg-center"
                      th:style="'background-image:url(' + ${post.owner.avatar} + ')'"
                    ></div>
                    <div th:unless="${post.owner.avatar}" class="i-tabler-user"></div>
                    <div class="text-xs" th:text="${post.owner.displayName}"></div>
                  </div>
                  <div class="flex space-x-2">
                    <div class="i-tabler-calendar"></div>
                    <div
                      class="text-xs"
                      th:text="${#dates.format(post.status.lastModifyTime,'yyyy-MM-dd HH:mm')}"
                    ></div>
                  </div>
                </div>
                <div class="flex space-x-6">
                  <div class="flex space-x-2">
                    <div class="i-tabler-eye"></div>
                    <div class="text-xs">累计阅读<span class="mx-0.5" th:text="${post.stats.visit}"></span>次</div>
                  </div>

                  <div class="flex space-x-2">
                    <div class="i-tabler-message"></div>
                    <div class="text-xs">评论<span class="mx-0.5" th:text="${post.stats.comment}"></span>条</div>
                  </div>
                </div>
                <div class="flex space-x-1">
                  <a
                    th:each="categorie : ${post.categories}"
                    th:href="${categorie.status.permalink}"
                    class="p-0.1 flex w-fit items-center space-x-0.5 rounded-lg bg-black/10 px-1.5 text-green-100 backdrop-blur-lg backdrop-brightness-150"
                  >
                    <div class="i-tabler-box"></div>
                    <div class="text-xs" th:text="${categorie.spec.displayName}"></div>
                  </a>
                  <a
                    th:each="tag : ${post.tags}"
                    th:href="${tag.status.permalink}"
                    class="flex w-fit items-center space-x-0.5 rounded-lg bg-black/10 p-0.5 px-1.5 text-blue-100 backdrop-blur-lg backdrop-brightness-150"
                  >
                    <div class="i-tabler-tag"></div>
                    <div class="text-xs" th:text="${tag.spec.displayName}"></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            th:unless="${post.spec.cover.isEmpty}"
            class="h-96 w-full rounded-t-lg bg-cover bg-center"
            th:style="'background-image:url(' + ${theme.config.global.default_cover} + ')'"
          >
            <div
              class="relative h-full w-full rounded-t-lg backdrop-blur-lg backdrop-brightness-110 backdrop-saturate-50"
            >
              <div class="absolute bottom-0 space-y-2 p-4 text-white md:p-8">
                <div
                  class="text-4xl font-bold transition duration-700 hover:text-blue-700"
                  th:text="${post.spec.title}"
                ></div>
                <div class="flex space-x-6">
                  <div class="flex space-x-2">
                    <div
                      th:if="${post.owner.avatar}"
                      class="h-4 w-4 rounded-lg bg-cover bg-center"
                      th:style="'background-image:url(' + ${post.owner.avatar} + ')'"
                    ></div>
                    <div th:unless="${post.owner.avatar}" class="i-tabler-user"></div>
                    <div class="text-xs" th:text="${post.owner.displayName}"></div>
                  </div>
                  <div class="flex space-x-2">
                    <div class="i-tabler-calendar"></div>
                    <div
                      class="text-xs"
                      th:text="${#dates.format(post.status.lastModifyTime,'yyyy-MM-dd HH:mm')}"
                    ></div>
                  </div>
                </div>
                <div class="flex space-x-6">
                  <div class="flex space-x-2">
                    <div class="i-tabler-eye"></div>
                    <div class="text-xs">累计阅读<span class="mx-0.5" th:text="${post.stats.visit}"></span>次</div>
                  </div>

                  <div class="flex space-x-2">
                    <div class="i-tabler-message"></div>
                    <div class="text-xs">评论<span class="mx-0.5" th:text="${post.stats.comment}"></span>条</div>
                  </div>
                </div>
                <div class="flex space-x-1">
                  <a
                    th:unless="${post.categories.size() == 0}"
                    th:each="categorie : ${post.categories}"
                    th:href="${categorie.status.permalink}"
                    class="p-0.1 flex w-fit items-center space-x-0.5 rounded-lg bg-black/10 px-1.5 text-green-100 backdrop-blur-lg backdrop-brightness-150"
                  >
                    <div class="i-tabler-box"></div>
                    <div class="text-xs" th:text="${categorie.spec.displayName}"></div>
                  </a>
                  <a
                    th:unless="${post.tags.size() == 0}"
                    th:each="tag : ${post.tags}"
                    th:href="${tag.status.permalink}"
                    class="flex w-fit items-center space-x-0.5 rounded-lg bg-black/10 p-0.5 px-1.5 text-blue-100 backdrop-blur-lg backdrop-brightness-150"
                  >
                    <div class="i-tabler-tag"></div>
                    <div class="text-xs" th:text="${tag.spec.displayName}"></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <article
            th:unless="${#annotations.get(post, 'login_before_read') and #authentication.name == 'anonymousUser'}"
            class="prose !max-w-none p-4 md:p-8"
            id="content"
            th:classappend="${theme.config.post.content_size} + ' ' + ${theme.config.post.content_theme}"
          >
            <th:block th:utext="${post.content.content}"></th:block>
          </article>
          <article
            th:if="${#annotations.get(post, 'login_before_read') and #authentication.name == 'anonymousUser' }"
            class="prose !max-w-none p-4 md:p-8"
            id="content"
            th:classappend="${theme.config.post.content_size} + ' ' + ${theme.config.post.content_theme}"
          >
            <th:block th:utext="${#annotations.get(post, 'login_before_read_summary')}"></th:block>
          </article>
          <div
            th:if="${#annotations.get(post, 'login_before_read') and #authentication.name == 'anonymousUser' }"
            class="m-4 my-0 border-t"
          ></div>
          <div
            th:if="${#annotations.get(post, 'login_before_read') and #authentication.name == 'anonymousUser' }"
            class="my-4 flex items-center justify-center"
          >
            <div class="to-gray-600 text-sm font-bold">作者设定登录后可见</div>
          </div>
          <div
            th:if="${#annotations.get(post, 'login_before_read') and #authentication.name == 'anonymousUser' }"
            class="my-4 flex items-center justify-center"
          >
            <a
              th:href="'/console/login?redirect_uri='+ ${post.status.permalink}"
              class="flex w-fit items-center justify-center space-x-0 rounded-lg bg-blue-50 p-3 py-2 text-blue-700 transition duration-700 hover:bg-blue-500 hover:text-white hover:shadow-2xl"
            >
              <div class="text-sm">立刻登录</div>
              <div class="i-tabler-arrow-right"></div>
            </a>
          </div>
          <div class="m-4 my-0 border-t"></div>
          <div class="space-y-2 rounded-lg bg-white">
            <div class="p-8">
              <div class="space-y-4" th:if="${pluginFinder.available('PluginCommentWidget')}">
                <div class="text-xl font-bold">评论</div>
                <halo:comment
                  group="content.halo.run"
                  kind="Post"
                  th:attr="name=${post.metadata.name}"
                  colorScheme="'light'"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-10 space-y-2 md:col-span-3">
        <div class="rounded-lg">
          <img class="w-full rounded-lg" th:if="${post.spec.cover.isEmpty}" th:src="${singlePage.spec.cover}" />
          <img
            class="w-full rounded-lg"
            th:unless="${post.spec.cover.isEmpty}"
            th:src="${theme.config.global.default_cover}"
          />
        </div>

        <div
          x-data="toc"
          x-init="generateToc('content','toc-container','toc')"
          class="toc-container hidden space-y-2 rounded-lg bg-white p-4 md:block"
        >
          <div class="text-md font-bold text-gray-700">文章目录</div>
          <div class="border-t"></div>
          <div class="toc flex items-start justify-start space-x-4">
            <div class="space-y-1 dark:border-slate-500"></div>
            <div
              class="group flex items-center justify-between rounded px-1.5 py-1 text-sm opacity-80 transition-all hover:bg-gray-100 dark:text-slate-50 dark:hover:bg-slate-700"
            ></div>
          </div>
        </div>
        <div th:if="${#annotations.get(post, 'app')}" class="w-full space-y-2 rounded-lg bg-white p-4">
          <div class="text-md font-bold text-gray-700">APP资源</div>
          <div class="border-t"></div>
          <div class="flex items-start justify-start space-x-4">
            <div
              class="h-12 w-12 rounded-lg bg-cover bg-center"
              th:style="'background-image:url(' + ${#annotations.get(post, 'app_icon')} + ')'"
            ></div>
            <div>
              <div class="text-md font-bold text-gray-700" th:text="${#annotations.get(post, 'app_name')}"></div>
              <div class="text-xs font-bold text-gray-500" th:text="${#annotations.get(post, 'app_version')}"></div>
            </div>
          </div>
        </div>
        <div th:if="${#annotations.get(post, 'book')}" class="w-full space-y-2 rounded-lg bg-white p-4">
          <div class="text-md font-bold text-gray-700">图书资源</div>
          <div class="border-t"></div>
          <div class="flex items-start justify-start space-x-4">
            <div
              class="h-16 w-12 rounded-lg bg-cover bg-center"
              th:style="'background-image:url(' + ${#annotations.get(post, 'book_cover')} + ')'"
            ></div>
            <div>
              <div class="text-md font-bold text-gray-700" th:text="${#annotations.get(post, 'book_name')}"></div>
              <div class="text-xs font-bold text-gray-500" th:text="${#annotations.get(post, 'book_author')}"></div>
            </div>
          </div>
        </div>
        <div th:if="${#annotations.get(post, 'resource')}" class="w-full space-y-2 rounded-lg bg-white p-4">
          <div class="text-md font-bold text-gray-700" th:text="${#annotations.get(post, 'resource_name')}"></div>
          <div class="border-t"></div>
          <a
            th:href="${#annotations.get(post, 'resource_download')}"
            class="flex w-full items-center justify-center space-x-2 rounded-lg bg-blue-50 p-2 text-blue-700 transition transition-all duration-700 hover:border hover:border-blue-700 hover:bg-blue-200"
          >
            <div class="i-tabler-download"></div>
            <div class="text-sm font-bold" th:text="${#annotations.get(post, 'resource_method')}"></div>
          </a>
        </div>
      </div>
    </div>
  </th:block>
</html>
